@model IEnumerable<BakeryManager.WebApp.Models.ReceiptVM>

@{
    ViewData["Title"] = "Receipts";
}

<div class="container" style="display: flex">
    <h1 style="width: 50%">Receipts</h1>
    <p style="width: 50%" align="right">
        <button type="button" onclick="location.href='@Url.Action("Create", "Receipts")'" style="padding: 10px; background-color: orangered; color: white; border: 0px; border-radius: 5px">Add new receipt</button>
    </p>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Client ID
        </th>
        <th>
            Product ID
        </th>
        <th>
            Bakery Code
        </th>
        <th>
            Total Price
        </th>
        <th>
            Date
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BakeryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>